body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000; /* soft blue background */
}

.title {
    text-align: center;
    padding: 40px 0 25px 0;
    font-size: 42px;
    font-weight: 700;
    font-style: italic;
    font-family: cursive;
    color: #ff7b00;
    letter-spacing: 1px;
    position: relative;
}



.gallery {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.box {
    margin-bottom: 25px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.box img {
    width: 100%;
    height: 1000px;          /* makes images tall */
    object-fit: cover;      /* crop nicely */
    display: block;
    transition: 0.3s ease;
}

.box img:hover {
    transform: scale(1.03);
    filter: brightness(90%);
}

.img-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 450px;      /* whatever height you set earlier */
    object-fit: cover;
    display: block;
}

/* Hover text */
.hover-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;   /* so clicking still downloads */
}

/* Show on hover */
.img-box:hover .hover-text {
    opacity: 1;
}
