/* BASIC RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f9f9f9;
    color: #222;
}

/* GLOBAL CONTAINERS */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
header {
    background: white;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: #0077ff;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #007bff;
}

.hero-img img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
}


/* SECTION STRUCTURE */
.section {
    padding: 70px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
}

.alt-bg {
    background: #eef3ff;
}

/* ABOUT */
.about-grid {
    display: flex;
    justify-content: space-between;
}

.about-grid p {
    width: 60%;
    line-height: 1.6;
}

.info li {
    list-style: none;
    padding: 5px 0;
}

/* EDUCATION */
.edu-card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #007bff;
}

/* SKILLS */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-box {
    background: white;
    padding: 15px 25px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid #ddd;
}

/* PROJECTS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* CONTACT */
.contact-box {
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

/* FOOTER */
footer {
    text-align: center;
    background: #007bff;
    padding: 15px;
    margin-top: 40px;
    color: white;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text, .hero-img {
        width: 100%;
    }
    .about-grid {
        flex-direction: column;
        gap: 20px;
    }
}

#linkedin a, #github a {
    color: #0077b5;
    text-decoration: none;
}

.project-card a {
    text-decoration: none;
}
.project-card img:hover {
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}
